footer {
    background-color: var(--color-dark-grey);
}

.permalinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
    max-width: 30%;
    margin: 0 auto;
}

.permalinks li {
    margin: 1rem;
    transition: var(transition);
}

.permalinks li:hover {
    text-decoration: underline;
}

.mini-logo{
    margin: 0 auto;
    width:200px;
}

.footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}