footer {
    background-color: var(--color-dark-grey);
}

.permalinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    max-width: 30%;
    margin: 0 auto;
}

.permalinks li {
    margin: .2rem;
    transition: var(transition);
}

.mini-logo{
    margin: 0 auto;
    width:100px;
}

.footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}